
<div class="app-content content">
    <div class="content-wrapper">
    	<div class="content-header row">
            <div class="content-header-left col-md-10 mb-2">
                <h3 class="content-header-title mb-0">Thông báo</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    Admin
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/notification/">
                                    &nbsp;thông báo
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
		<div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Notification Table</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <table id="table-notification" class="table table-striped table-bordered dom-jQuery-events">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Người gửi
                                    </th>
                                    <th>
                                        Người nhận
                                    </th>
                                    <th>
                                        Tiêu đề
                                    </th>
                                    <th>
                                        Nội dung
                                    </th> 
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
		</div>		
	</div>
</div>