<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-10 mb-2">
            <h3 class="content-header-title mb-0">Role</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                Admin
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/role/">
                                &nbsp;role
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        </div>
    <form class="form" id="form_buidling">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name">Tên quyền</label>
                                <input type="text" id="Name" class="form-control border-primary" name="Name" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Type">Type</label>
                                <input type="text" id="Type" class="form-control border-primary" name="Type" required="required">
                            </div>
                        </div>                                                           
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Description">Mô tả</label>
                                <input type="text" id="Description" class="form-control border-primary" name="Description" required="required">
                            </div>
                        </div> 
                        <div class="col-md-6">
                        </div>                                                                                              
                    </div>                                                         
                    <button id="btn_addRole" type="button" class="btn btn-primary btnSaveRole">
                        <i class="fa fa-check-square"></i> Save
                    </button>
                </div>                  
            </form>
        </div>
    </div>