
<div class="app-content content">
    <div class="content-wrapper">
    	<div class="content-header row">
            <div class="content-header-left col-md-10 mb-2">
                <h3 class="content-header-title mb-0">Tòa nhà</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    Admin
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/cms/listBuildingGet">
                                    &nbsp;tòa nhà
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
		<div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Bảng tòa nhà</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <table id="table-buildings" class="table table-striped table-bordered dom-jQuery-events">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Tên tòa nhà
                                    </th>
                                    <th>
                                        Người quản lý
                                    </th>
                                    <th>
                                        Mã
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Số căn hộ
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>             
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
		</div>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="form-section"><i class="ft-info"></i> Cập nhật thông tin tòa nhà<code><b id="fullNameBuilding"></b></code></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="form-body">                                    
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Name">Tên tòa nhà</label>
                                            <input type="text" id="Name" class="form-control border-primary" name="Name" required="required">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Code">Mã</label>
                                            <input type="text" disabled ="disabled" id="Code" class="form-control border-primary" name="Code" required="required">
                                        </div>
                                    </div>                                                            
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Address">Địa chỉ</label>
                                            <input type="text" id="Address" class="form-control border-primary" name="Address" required="required">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Note">Lưu ý</label>
                                            <input type="text" id="Note" class="form-control border-primary" name="Note" required="required">
                                        </div>
                                    </div>                                                                                              
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BillDateRange">Ngày nộp hóa đơn</label>
                                            <input type="text" id="BillDateRange" class="form-control border-primary" name="BillDateRange" required="required">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ElectricBill">Giá điện</label>
                                            <input type="text" id="ElectricBill" class="form-control border-primary" name="ElectricBill" required="required">
                                        </div>
                                    </div>                                                                                              
                                </div>

                                <div class="row">                                      
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="WaterPrice">Giá nước</label><!-- check trung-->
                                            <input type="text" id="WaterPrice" class="form-control border-primary" name="WaterPrice" required="required">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CarParkPrice">Giá gửi xe hơi</label>
                                            <input type="text" id="CarParkPrice" class="form-control border-primary" name="CarParkPrice" >
                                        </div>
                                    </div>                                                                                   
                                </div>  

                                <div class="row">                                      
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="MotobikeParkPrice">Giá gửi xe máy</label><!-- check trung-->
                                            <input type="text" id="MotobikeParkPrice" class="form-control border-primary" name="MotobikeParkPrice" required="required">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BikeParkPrice">Giá gửi xe đạp</label>
                                            <input type="text" id="BikeParkPrice" class="form-control border-primary" name="BikeParkPrice " >
                                        </div>
                                    </div>
                                                                                                
                                </div>  
                                <div class="row">                                      
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" id="Status" class="form-control border-primary" name="Status" value="AC" >
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" id="WaterType" class="form-control border-primary" name="WaterType" value="AC" >
                                        </div>
                                    </div>                                                                                            
                                </div>

                                <div class="row">                                      
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ServicePrice">Giá dịch vụ</label><!-- check trung-->
                                            <input type="text" id="ServicePrice" class="form-control border-primary" name="ServicePrice" required="required">
                                        </div>
                                    </div>                                                                                               
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary save-building-data">Lưu</button>
                    </div>
                </div>
            </div>
        </div>	
	</div>
</div>