<div class="app-content content">
    <div class="content-wrapper">
    	<div class="content-header row">
            <div class="content-header-left col-md-10 mb-2">
                <h3 class="content-header-title mb-0">Cư Dân</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    Trang Chủ
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/user/">
                                    &nbsp;Cư dân
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
		<div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Danh sách cư dân</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="BuildingIdSearch">Tìm kiếm theo Toà nhà</label>
                                <select class="form-control" name="searchUserByHouse"  id="searchUserByHouse">
                                </select>
                            </div>
                        </div>
                        <table id="table-users" class="table table-striped table-bordered dom-jQuery-events">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Họ Tên
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Số Điện Thoại
                                    </th>
                                    <th>
                                        Căn hộ
                                    </th>
                                    <th>
                                        Hành Động
                                    </th> 
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
		</div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="form-section"><i class="ft-info"></i> Cập nhật thông tin <code><b id="fullNameHeader"></b></code></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="form-body">                                    
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fullName">Họ tên</label>
                                        <input type="text" id="fullName" class="form-control border-primary" placeholder="Nhập họ tên" name="fullName">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="userEmail">Email</label>
                                        <input type='email' disabled="disabled" class="form-control border-primary" id="userEmail" placeholder="Nhập email" name="userEmail" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Địa chỉ</label>
                                        <input type='text' class="form-control border-primary" id="address" placeholder="Nhập địa chỉ" name="address" />
                                    </div>
                                </div>
                                                                                                     
                                <h4 class="form-section"><i class="ft-lock"></i> Thông tin tài khoản</h4>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="number" id="phone" disabled="disabled" class="form-control border-primary" placeholder="Nhập số điện thoại" name="phone">
                                        <span><p class="text-danger text-sm-left pt-1"><code><i>Yêu cầu nhập đúng số điện thoại người dùng. Ví dụ: 0912345678"</code></i></p></span>
                                    </div>                                             
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary save-resident-data">Lưu</button>
                    </div>
                </div>
            </div>
        </div>	
	</div>
</div>